<tr id="item-{{ item.id }}" {% if item.hamil %}class="text-pink" {% endif %}>
    <td>{{ item.bcs.tarikh|date:'d/m/Y g:i A' }}</td>
    <td>{{ item.no_xray }}</td>
    <td>{% if item.bcs.mrn %}{{ item.bcs.mrn }}{% else %}{{ item.bcs.nric }} {% endif %}</td>
    <td>{{ item.bcs.nama }}</td>
    <td>{{ item.bcs.ward }}</td>
    <td>{{ item.exam.modaliti.singkatan }} {{ item.laterality|default:"" }} {{ item.exam }}</td>
    <td>
        <div class="btn-group align-middle" role="group" aria-label="Detail Exam">
            <button class="btn btn-icon btn-sm rounded btn-hover-dark"
                    hx-get="{% url 'bcs:bcs-edit' item.bcs.pk %}" hx-target="#bcs-full"
                    hx-swap="outerHTML" hx-push-url="true"><i class="fa fa-edit text-danger"
                                                              aria-hidden="true"></i>
            </button>
            <button class="btn btn-icon btn-sm rounded btn-hover-dark"
                    hx-get="{{ item.get_absolute_url }}" hx-target="#exam-dialog">
                <i class="fa fa-eye text-primary"></i>
            </button>
            <button id="komen-{{ item.id }}" class="btn btn-icon btn-sm rounded btn-hover-dark"
                    hx-get="{{ item.get_komen_url }}" hx-target="#exam-dialog">
                <i class="fa fa-comment-alt {% if item.dcatatan %}text-warning{% else %}text-secondary{% endif %}"></i>
            </button>
        </div>

    </td>
</tr>