{% load static crispy_forms_tags %}
<div id="bcs">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="card shadow-sm rounded">
                <h5 class="card-header">{{ tajuk }}</h5>
                <div class="card-body">
                    <div id="tmpthantar">
                        <div id="mrnstatus" class="m-3 text-center"><span id="pesakitada" data-mrn="tiada"></span></div>
                        {% crispy form %}
                        {% if bcs_id %}
                            <div class="button-group pull-right">
                                <button type="submit" onclick="$('.editing').remove()" hx-post="{{ hantar_url }}"
                                        hx-include=".form-control" hx-target="#bcs" hx-swap="outerHTML"
                                        class="btn btn-outline-primary btn-sm rounded">Hantar
                                </button>
                                <a class="btn btn-outline-danger btn-sm rounded"
                                   href="{% url 'bcs:bcs-list' %}">Kembali</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
        </div>
        <div class="mt-5 card shadow-sm rounded">
                <h5 class="card-header">Pemeriksaan</h5>
            <div class="card-body">
                <div class="mt-5 table-responsive">

                    <table id="exam" class="table">
                        <thead>
                        <tr>
                            <th scope="col">No. BCS</th>
                            <th scope="col">Pemeriksaan</th>
                            <th scope="col">Lateraliti</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in exams %}
                            <tr>
                                <th scope="row">{{ item.nobcs }}</th>
                                <td>{{ item.exam }}</td>
                                <td>{{ item.laterality|default:"" }}</td>
                                <td class="text-center align-middle">
                                <span class="align-middle kt-switch kt-switch--outline kt-switch--icon kt-switch--sm kt-switch--success"
                                      tabindex="0" data-toggle='tooltip' data-placement='top' title='Merge di PACS'>
                            <label class="mt-3">
                                <input id="merged" type="checkbox" {% if item.merged %}checked{% endif %}
                                       name="merged" hx-post="{% url 'bcs:bcs-merge' item.pk %}" hx-swap="outerHTML"
                                       hx-target="this"/>
                                <span></span>
                            </label>
                        </span>
                                </td>
                                <td>{{ item.dcatatan|default:"" }}</td>
                                <td class="text-center">
                                    <button id="edit-{{ item.id }}" class="btn btn-icon btn-sm rounded btn-hover-dark"
                                            hx-get="{% url 'bcs:exam-edit' item.pk %}" hx-target="closest tr"
                                            hx-swap="outerHTML" hx-trigger="edit"
                                            onclick="if ($('.editing').length>=1){htmx.trigger('.editing','cancel')};htmx.trigger('#edit-{{ item.id }}','edit')"
                                    ><i class="fa fa-pen text-success" aria-hidden="true"></i></button>
                                    <button hx-delete="{% url 'bcs:exam-padam' item.pk %}"
                                            hx-confirm="Padam pemeriksaan ini?" hx-target="#exam"
                                            class="btn btn-icon btn-sm rounded btn-hover-dark"><i
                                            class="fa fa-trash text-danger" aria-hidden="true"></i></button>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="6">
                                    {% crispy examform %}
                                </td>
                            </tr>
                        {% endfor %}
                        {% if bcs_id %}
                            <tr id="texam">
                                <td colspan="6">
                                    <button class="btn btn-sm btn-primary"
                                            hx-get="{% url 'bcs:exam-tambah' bcs_id %}"
                                            hx-swap="outerHTML" hx-target="#texam"
                                            onclick="if ($('.editing').length>=1){htmx.trigger('.editing','cancel')}">
                                        <i class="fa fa-plus" aria-hidden="true"></i>Tambah Pemeriksaan
                                    </button>
                                </td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% if not bcs_id %}
                <div id="tmpthantar" class="card">
                    <div class="card-body">
                                                    <a class="btn btn-danger btn-sm rounded"
                               href="{% url 'bcs:bcs-list' %}">Kembali</a>
                        <div class="float-right">
                            <button type="submit" onclick="$('.editing').remove()" hx-post="{{ hantar_url }}"
                                    hx-include=".form-control" hx-target="#bcs" hx-swap="outerHTML"
                                    class="btn btn-primary btn-sm rounded">Hantar
                            </button>

                        </div>
                    </div>
                </div>
            {% endif %}
        </div>

    </form>

</div>
