{% load static crispy_forms_tags %}
<div id="bcs">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="card shadow-sm rounded">
                <h5 class="card-header">{{ tajuk }}</h5>
                <div class="card-body">
                    <div id="tmpthantar">
                        <div id="mrnstatus" class="m-3 text-center"><span id="pesakitada" data-mrn="tiada"></span></div>
                        {% crispy form %}
                        {% if bcs_id %}
                            <div class="button-group pull-right">
                                <button type="submit" onclick="$('.editing').remove()" hx-post="{{ hantar_url }}"
                                        hx-include=".form-control" hx-target="#bcs" hx-swap="outerHTML"
                                        class="btn btn-outline-primary btn-sm rounded">Hantar
                                </button>
                                <a class="btn btn-outline-danger btn-sm rounded"
                                   href="{% url 'bcs:bcs-list' %}">Kembali</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
        </div>
        <div class="mt-5 card shadow-sm rounded">
                <h5 class="card-header">Pemeriksaan</h5>
            <div class="card-body">
                <div class="mt-5 table-responsive">

                    <table id="exam" class="table">
                        <thead>
                        <tr>
                            <th scope="col">No. X-Ray</th>
                            <th scope="col">Pemeriksaan</th>
                            <th scope="col">Lateraliti</th>
                            <th scope="col">kVp</th>
                            <th scope="col">mAs</th>
                            <th scope="col">mGy</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in exams %}
                            <tr>
                                <th scope="row">{{ item.no_xray }}</th>
                                <td>{{ item.exam }}</td>
                                <td>{{ item.laterality|default:"" }}</td>
                                <td>{{ item.kv|default:"" }}</td>
                                <td>{{ item.mas|default:"" }}</td>
                                <td>{{ item.mgy|default:"" }}</td>
                                <td class="text-center">
                                    <button id="edit-{{ item.id }}" class="btn btn-icon btn-sm rounded btn-hover-dark"
                                            hx-get="{% url 'bcs:exam-edit' item.pk %}" hx-target="closest tr"
                                            hx-swap="outerHTML" hx-trigger="edit"
                                            onclick="if ($('.editing').length>=1){htmx.trigger('.editing','cancel')};htmx.trigger('#edit-{{ item.id }}','edit')"
                                    ><i class="fa fa-pen text-success" aria-hidden="true"></i></button>
                                    <button hx-delete="{% url 'bcs:exam-padam' item.pk %}"
                                            hx-confirm="Padam pemeriksaan ini?" hx-target="#exam"
                                            class="btn btn-icon btn-sm rounded btn-hover-dark"><i
                                            class="fa fa-trash text-danger" aria-hidden="true"></i></button>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="6">
                                    {% crispy examform %}
                                </td>
                            </tr>
                        {% endfor %}
                        {% if bcs_id %}
                            <tr id="texam">
                                <td colspan="6">
                                    <button class="btn btn-sm btn-primary"
                                            hx-get="{% url 'bcs:exam-tambah' bcs_id %}"
                                            hx-swap="outerHTML" hx-target="#texam"
                                            onclick="if ($('.editing').length>=1){htmx.trigger('.editing','cancel')}">
                                        <i class="fa fa-plus" aria-hidden="true"></i>Tambah Pemeriksaan
                                    </button>
                                </td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% if not bcs_id %}
                <div id="tmpthantar" class="card">
                    <div class="card-body">
                            <a class="btn btn-danger btn-sm rounded"
                               href="{% url 'bcs:bcs-list' %}">Kembali</a>
                        <div class="float-right">
                            <button type="submit" onclick="$('.editing').remove()" hx-post="{{ hantar_url }}"
                                    hx-include=".form-group" hx-target="#bcs" hx-swap="outerHTML"
                                    class="btn btn-primary btn-sm rounded">Hantar
                            </button>

                        </div>
                    </div>
                </div>
            {% endif %}
        </div>

    </form>

</div>
    <script src="{% static 'js/dayjs.min.js' %}"></script>
<script>
            document.body.addEventListener("pesakitada", function (e) {
            $('#id_nama').val(e.detail.nama);
            $('#id_nric').val(e.detail.nric);
            $('#id_mrn').val(e.detail.mrn);
            $("input[name=jantina][value=" + e.detail.jantina + "]").prop("checked", true);
            $("input[name=bangsa][value=" + e.detail.bangsa + "]").prop("checked", true);
        });
        $("#id_nric").on("change", function () {
            let bangsa = $("input[name=bangsa]").val();
            let ic = $(this).val();
            if (bangsa !== 'Warga Asing') {
                if (ic % 2 == 0) { // awek
                    $("input[name=jantina][value='P']").prop("checked", true);
                } else {
                    $("input[name=jantina][value='L']").prop("checked", true);
                }
                console.log('bukan warga asing, kita kira ic')
                kiraic(ic);
            }
        })
        $("#id_lmp").on("change", function(){
            let lmp = $(this).val();
            lmp = dayjs(lmp).format('YYYY-MM-DD')
            let berapahari = dayjs().diff(lmp,'days')
            $('#id_dcatatan').val($('#id_dcatatan').val()+ " LMP : "+berapahari+" hari.")
            if (berapahari>28){alert('LMP Lebih dari 28 Hari, Sila isi keputusan UPT di bahagian catatan.')}
        })
        function kiraic(ic){
              let dob_t = ic.substr(0, 2);
                let dob_b = ic.substr(2, 2);
                let dob_d = ic.substr(4, 2);
                console.log('bukan foreigner')
                let now = new Date().getFullYear().toString();
                let decade = now.substr(0, 2);
                if (now.substr(2, 2) > dob_t) {
                    dob_t = parseInt(decade.concat(dob_t.toString()), 10);
                }
                let lahir = new Date(dob_t, (dob_b - 1), dob_d, 0, 0, 0, 0);
                let umur_t = dayjs().diff(lahir, 'year')
                let umur_b = dayjs().diff(lahir, 'month')
                let umur_h = dayjs().diff(lahir, 'day')
                let umur = ''

                if (umur_t<100){
                    console.log(umur_t)
                    if (parseInt(umur_t)===0){
                    umur = umur_b;
                    }else {
                        umur=umur_t+' tahun'
                    }
                } else {
                    lahir = dayjs(lahir).add(100, 'year');
                    umur_b = dayjs().diff(lahir, 'month')
                    umur_h = dayjs().diff(lahir, 'day')
                    umur = umur_b+' bulan '+umur_h+' hari'
                    if (umur_b<1){
                        umur = umur_h+' hari';
                    }
                }
                $('#id_umur').val(umur);
        }
</script>