<tr>
    <th scope="row" class="align-middle">{{ item.nobcs }}</th>
    <td class="align-middle">{{ item.exam }}</td>
    <td class="align-middle">{{ item.laterality|default:"" }}</td>
    <td class="text-center align-middle">
        <span class="align-middle kt-switch kt-switch--outline kt-switch--icon kt-switch--sm kt-switch--success"
              tabindex="0" data-toggle='tooltip' data-placement='top' title='Merge di PACS'>
    <label class="mt-3">
        <input id="merged" type="checkbox" {% if item.merged %}checked{% endif %}
               name="merged" hx-post="{% url 'bcs:bcs-merge' item.pk %}" hx-swap="outerHTML"
               hx-target="this" />
        <span></span>
    </label>
    </span>
    </td>
    <td>{{ item.dcatatan|default:"" }}</td>
    <td class="text-center align-middle">
        <button id="edit-{{ item.id }}" class="btn btn-icon btn-sm rounded btn-hover-dark"
                hx-get="{% url 'bcs:exam-edit' item.pk %}" hx-target="closest tr" hx-swap="outerHTML" hx-trigger="edit"
                onclick="if ($('.editing').length>=1){htmx.trigger('.editing','cancel')}htmx.trigger('#edit-{{ item.id }}','edit')"
        ><i class="fa fa-pen text-success" aria-hidden="true"></i></button>
        <button hx-delete="{% url 'bcs:exam-padam' item.pk %}" hx-confirm="Padam pemeriksaan ini?" hx-target="#exam"
                class="btn btn-icon btn-sm rounded btn-hover-dark"><i class="fa fa-trash text-danger"
                                                                      aria-hidden="true"></i></button>
    </td>
</tr>