<tr>
    <th scope="row" class="align-middle">{{ item.no_xray }}</th>
    <td class="align-middle">{{ item.exam }}</td>
    <td class="align-middle">{{ item.laterality|default:"" }}</td>
    <td class="align-middle">{{ item.kv|default:"" }}</td>
    <td class="align-middle">{{ item.mas|default:"" }}</td>
    <td class="text-center align-middle">
        <button id="edit-{{ item.id }}" class="btn btn-icon btn-sm rounded btn-hover-dark"
                hx-get="{% url 'bcs:exam-edit' item.pk %}" hx-target="closest tr" hx-swap="outerHTML" hx-trigger="edit"
                onclick="if ($('.editing').length>=1){htmx.trigger('.editing','cancel')}htmx.trigger('#edit-{{ item.id }}','edit')"
        ><i class="fa fa-pen text-success" aria-hidden="true"></i></button>
        <button hx-delete="{% url 'bcs:exam-padam' item.pk %}" hx-confirm="Padam pemeriksaan ini?" hx-target="#exam"
                class="btn btn-icon btn-sm rounded btn-hover-dark"><i class="fa fa-trash text-danger"
                                                                      aria-hidden="true"></i></button>
    </td>
</tr>