{% extends 'index.html' %}
{% load static %}{% load slippers %}
{% block title %}Wad{% endblock title %}
{% block breadcrumbs2 %}Wad{% endblock breadcrumbs2 %}
{% block content %}

    <div class="row d-flex">
        <div class="col-sm-6">
            {% #card ctajuk="Disiplin" menu="<button class='btn btn-outline-danger btn-sm' hx-target='#disiplin'  hx-get='/rujukan/disiplin/tambah'><i class='fa fa-plus'></i>Tambah</button>"%}
            <div class="col-sm-12 p-0">
                            <ul id="disiplin" class="list-group" >
                {% include 'wad/disp-list.html' %}
                </ul>
                </div>
            {% /card %}


        </div>
        <div class="col-sm-6 ">
            {% #card ctajuk="Senarai Wad" menu=" <button class='btn btn-outline-danger btn-sm' hx-target='#ward'  hx-get='tambah/'><i class='fa fa-plus'></i>Tambah</button>"%}
                <div  class="col-sm-12  p-0 ">
                    {% include 'wad/war-partial.html' %}
                </div>
            {% /card %}
        </div>
    </div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div  id="borang" class="modal-content"></div>
  </div>
</div>
{% endblock content %}

{% block scripts %}

    <script src="{% static 'js/_hyperscript.min.js' %}"></script>

<script>
$(document).ready(function () {
    htmx.on("showMessage", (e) => {
        toastr.success(e.detail.value);
        $("#exampleModal").modal('hide');
      })
    htmx.on("disip", (e) => {
        $(".disp-list").removeClass('bg-warning text-white');
        $("#dis-"+e.detail.value).addClass("bg-warning text-white");
      })


});
</script>
{% endblock scripts %}